tr td{
    width: 100px;
    height: 100px;
    border: solid 2px grey;
    transition: .5s;
    border-radius: 50px;
}
/* td[id^= "1."]{
    transition: 2s;
} */
.table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
h1{
    text-align: center;
    font-size: 2rem;
    transition: .5s;
    font-family: monospace;
}
body{
    background-color: black;
}
.firstRow{
    transition: .5s;
}